# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used for Data Science
- Create a table
- Examples of evaluating arithmetic expressions in Python

## Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R
4. Java
5. JavaScript
6. Ruby

## Some of the commonly used libraries used by Data Scientists include:
1. dplyr
2. stringr
3. ggplot
4. caret

| Data Science Tools |
| ------------------ |
| Jupiter |
| Apache Zeppelin |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Reinaldo Palacios